/* About Section */

section.about {
    margin-top: 60px;
}


/* Inner About */


/* Main */

.about__inner {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
}

@media(min-width: 768px) {
    .about__inner {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}


/* Text */

.about-inner--text {
    display: flex;
    justify-content: baseline;
    padding: 20px 5px;
    width: 100%;
    /* margin: 10px auto; */
}


/* Image - box */

.about__inner__box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}