/* Main bookmark */

.bookmark {
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 8vh 5vh;
    position: relative;
    z-index: 0;
}


/* Bookmark - cover */

.bookmark::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000099;
    z-index: -1;
}


/* Different types of biookmarks */


/* Menu */

.bookmark--about {
    background-image: url('../images/slider-images/slider-image-1.jpeg');
}


/* Gallery */


/* .bookmark--gallery {
    background-image: url('../images/bookmarks/gallery.jpg');
} */


/* Contact */


/* .bookmark--contact {
    background-image: url('../images/bookmarks/contact.jpg');
} */


/* Route */


/* .bookmark--route {
    background-image: url('../images/bookmarks/route.jpg');
} */


/* Bookmark header */

.bookmark__header {
    font-size: 8vw;
    text-transform: uppercase;
    margin: 0;
}


/* The lines aournd the name */

.bookmark__header::before,
.bookmark__header::after {
    content: ' - ';
    font-weight: normal;
}

@media(min-width: 840px) {
    /* Header size */
    .bookmark__header {
        font-size: 80px;
    }
}