/* The container style css */

.container--large {
    width: 1300px;
    margin: auto;
    min-height: 100vh;
    /* For smaller devices */
    max-width: 100%;
    padding: 10px;
}

.container {
    width: 1100px;
    margin: auto;
    min-height: 100vh;
    /* For smaller devices */
    max-width: 100%;
    padding: 10px;
}

.container--small {
    width: 768px;
    margin: auto;
    /* min-height: 100vh; */
    /* For smaller devices */
    max-width: 100%;
    padding: 10px;
}