/* Inner description */

.gallery--description {
    background-color: #110ff050;
    max-width: 400px;
    min-width: 280px;
    margin: 30px auto;
    border: 1px solid #bbb;
    border-radius: 15px;
    box-shadow: 0 0 5px 3px #ccc;
    padding: 5px;
    color: #024402;
}


/* Inner title */

.gallery__inner--title {
    margin: 20px auto;
    min-width: 280px;
    display: flex;
    justify-content: center;
}


/* Main text */

.gallery__inner--title--text {
    font-size: 30px;
    font-weight: bold;
}


/* Subtext */

.gallery__inner--title--subtext {
    font-size: 16px;
    font-weight: 400;
}


/* Card box list */

.gallery__box {
    display: flex;
    flex-direction: column;
}

@media(min-width: 768px) {
    .gallery__box {
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
    }
}


/* Item/Card */

.gallery__box--icon {
    margin: 10px auto;
    /* max-width: 400px; */
    max-width: 250px;
    border: 6px solid #eee;
    box-shadow: 0 0 5px 8px #ddd;
    border-radius: 10px;
}


/* Gallery Image */

.gallery__box--icon--image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}