/* Main Investment */

.main-investment {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media(min-width: 768px) {
    .main-investment {
        /* margin-top: 20px; */
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        /* justify-content: space-between; */
        /* align-items: flex-start; */
    }
}


/* Left side */

.main-investment__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px) {
    .main-investment__right {
        width: 60%;
    }
}


/* Left Side */

.main-investment__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px) {
    .main-investment__left {
        width: 40%;
    }
}


/*  */