/* Slider box style- main */

.slider-container {
    margin-top: 64px;
    width: 100%;
    height: 94vh;
    position: relative;
}


/* Image styles */

.slider {
    position: absolute;
    min-width: 100%;
    height: 90vh;
    left: 50%;
    transform: translate(-50%, 0);
}


/* inside text style */

.slide-title {
    display: flex;
    background-color: #333;
    justify-content: center;
    padding: 5px 8px;
    color: #ffff11;
    width: auto;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    border-radius: 10px;
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; */
    text-shadow: 0 0 6px #fff;
}


/* Slide Description */

.slide-description {
    background-color: #00ff00cc;
    color: #333;
    font-family: monospace;
    font-size: 18px;
    width: auto;
    /* margin: 2% 0; */
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 1%;
}


/* Dots styles */

.indicators-dots {
    padding-top: 5%;
    width: 100%;
    position: absolute;
    bottom: 50px;
    text-align: center;
}

.indicators-dots span {
    display: inline-block;
    background-color: #111;
    margin: 0 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff;
    cursor: pointer;
}


/* Style for active span indicator */

.indicators-dots span.active {
    box-shadow: 0 0 0 5px #fff, 0 0 3px 10px #ff0000;
}